@font-face {
  font-family: "Inter";
  src: url("./Resources/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  background-color: #252422;
}

h1 {
  text-align: center;
  color: white;
}

#pickerBox {
  color: white;
  display: flex;
  width: clamp(10vw, 900px, 90vw);
  height: clamp(10vh, 300px, 90vh);
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 2vh;
  gap: 10%;
  border: 2px solid white;
  position: relative;
}

.choiceBox {
  font-size: 20pt;
  border-radius: 25px;
  padding: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  position: relative;
}

.choiceBox:hover {
  transform: translateY(2%);
  cursor: pointer;
  opacity: 80%;
  box-shadow: 10px 10px 2px rgb(0, 0, 0);
}

#WrestlerOne {
  background-color: #c73939;
}

#WrestlerTwo {
  background-color: #393ec7;
}

.ratingText {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #252422b9;
  border-radius: 10px;
  padding: 2%;
  display: none;
}

.correctText {
  display: block;
  color: green;
}

.incorrectText {
  display: block;
  color: red;
}

#scoreContainer .correctCircle {
  background-color: green;
}

#scoreContainer .incorrectCircle {
  background-color: red;
}

.tieText {
  display: block;
  color: rgb(162, 179, 115);
}
.ratingText.visible {
  display: block;
}

#answer {
  font-size: 24pt;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

#nextbtn,
#startbtn {
  font-size: 30pt;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  color: white;
  background: green;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 25px;
  padding: 2%;
}

#nextbtn:hover,
#startbtn:hover {
  transform: translateY(2%);
  cursor: pointer;
  opacity: 80%;
  box-shadow: 10px 10px 2px rgb(0, 0, 0);
}

.hidden {
  display: none;
}

#answertext.hidden {
  display: none;
}

.endText {
  text-align: center;
  color: white;
  font-size: 20pt;
}

#scoreText {
  text-align: center;
  font-size: 20pt;
  color: white;
  font-weight: bold;
}

#gameContainer.visible {
  display: block;
}

#startbtn.hidden {
  display: none;
}

#pickerBox.hidden {
  display: none;
}

#nextbtn.hidden {
  display: none;
}

#scoreText.hidden {
  display: none;
}
.scoreCircle {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid white;
}

#scoreContainer {
  display: flex;
  justify-content: center;
  gap: 1%;
}
